#title {
    text-align: center;
    font-family: "Courier 10 Pitch";
    font-size: 45px;

}

body{
    background-color: red;

}

#intro{
    text-align: center;
    font-family: "Courier 10 Pitch";
    font-size: 45px;
}
footer{
    text-align: center;
}

.resume section{

}
.container {
    font-size: 70%;
    font-family: cursive;
}


.dos {
    font-family: "Courier 10 Pitch";
    font-size: 60px
}

.why{
    text-align: center;
    font-family: "Courier 10 Pitch";
    font-size: 45px;
}
#explain{
    text-align: center;
    font-family: "Courier 10 Pitch";
    font-size: 45px;
}

