#title {
    text-align: center;
    font-family: "Courier 10 Pitch";
    font-size: 45px;

}

body{
    background-color: rebeccapurple;

}

#intro{
    text-align: center;
    font-family: "Courier 10 Pitch";
    font-size: 45px;
}
footer{
    text-align: center;
}

.resume_pic{
    text-align: center;
    justify-content: left;
    padding-right: 30px;


}

.container {
    font-size: 20px;
    font-family: "Courier 10 Pitch";
}

.dos {
    font-family: "Courier 10 Pitch";
    font-size: 25px
}

.why{
    text-align: center;
    font-family: "Courier 10 Pitch";
    font-size: 45px;
}
#explain{
    text-align: center;
    font-family: "Courier 10 Pitch";
    font-size: 45px;
}

.language1 {
    text-align: center;
    font-size: 30px;
    font-family: "Courier 10 Pitch";
}
.language2 {
    text-align: center;
    font-size: 30px;
    font-family: "Courier 10 Pitch";
}
.language3 {
    text-align: center;
    font-size: 30px;
    font-family: "Courier 10 Pitch";
}
.language4 {
    text-align: center;
    font-size: 30px;
    font-family: "Courier 10 Pitch";
}
.language5 {
    text-align: center;
    font-size: 30px;
    font-family: "Courier 10 Pitch";
}

.container2{
    text-align: center;
}

.end{
    text-align-last: center;
}
.container3 {
    text-align: center;
     display: block;
}

.row justify content center{
    text-align: center;
}

header{
    text-align: center;
    font-size: 30px;
    font-family: "Courier 10 Pitch";
    color: mediumblue;
}

.contact{
    text-align: center;
    justify-content: left;
    padding-right: 100px;
    margin-left: 550px;

}

.fa fa-map-marker{
    padding-top: 500px;
    width: 30px;
    height: 40px;
    text-align: left;
    margin-right: 400px;
}

.fa fa-phone{
    padding-top: 500px;
    width: 30px;
    margin-right: 400px;

}
.fa fa-envelope{
    padding-top: 500px;
    width: 30px;
    margin-right: 400px;

}